// colors
$primaryColor: #282522;
$primaryTwoColor: #455387;
$bgColor: #CCCCCC;
$defaultColor:#212529;
$secondaryColor:#1E1E1E;
$infoColor:#FDD017;
$spanColor:#7f7f90;
$hoverColor :#ec2727;
$moreBtn:#ffffff4d;
$stars:#ffc107;
$chefColor:#37373f66;
$chefPSpan: #212529b3;
$borderColor: #333333;
// Font
$font-default-sans-serif: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$fontPrimary:"Amatic SC", sans-serif;
$fontSecondary: "Inter", sans-serif;

// box shadow
$boxShadow: 0 8px 28px rgba(206, 18, 18, 0.2);
